<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <connectionStrings>
    <add name="SampleDBConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB; AttachDbFilename=C:\Users\Zade\Documents\Visual Studio 2015\Projects\WinFormIOTProject1\WinFormIOTProject1\WinFormIOTProject\IOTProjDB.mdf;Integrated Security=True;Persist Security Info=True;Connect Timeout=30"
        providerName="System.Data.SqlClient" />
    <add name="WinFormIOTProject.Properties.Settings.IOTProjDBConnectionString"
        connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\IOTProjDB.mdf;Integrated Security=True"
        providerName="System.Data.SqlClient" />

    <add name="SampleDBConnection1" connectionString="Data Source=(LocalDB)\MSSQLLocalDB; AttachDbFilename=C:\Users\hj\Desktop\raspi\WinFormIOTProject\WinFormIOTProject\RASPIE.MDF;Integrated Security=True;Persist Security Info=True;Connect Timeout=30"
         providerName="System.Data.SqlClient" />
    <add name="WinFormIOTProject.Properties.Settings.IOTProjDBConnectionString1"
        connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\RASPIE.MDF;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>



</configuration>
