<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

    <connectionStrings>
        <add name="SampleDBConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB; AttachDbFilename=D:\Users\200645S\Documents\Visual Studio 2015\Projects\IOT-and-Winform-Project-main\WinFormIOTProject(newest)\WinFormIOTProject(newest)\WinFormIOTProject\WinFormIOTProject\IOTProjDB.mdf;Integrated Security=True;Persist Security Info=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="WinFormIOTProject.Properties.Settings.IOTProjDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\IOTProjDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <!--<connectionStrings>
    <add name="SampleDBConnection"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB; AttachDbFilename=C:\Users\Zade\Documents\Visual Studio 2015\Projects\WinFormIOTProject(new)\WinFormIOTProject\IOTProjDB.mdf;Integrated Security=True;Connect Timeout=30"
        providerName="System.Data.SqlClient" />
  </connectionStrings>-->

  
</configuration>
